spring:

  jooq:
    sql-dialect: postgres

  application:
    name: Research_Jooq

  datasource:
    url: jdbc:postgresql://localhost:5432/research_jooq
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 300000
      max-lifetime: 1200000
      connection-timeout: 30000
      leak-detection-threshold: 60000

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:/db/changelog-master.yaml
    enabled: true

logging:
  level:
    org.jooq: DEBUG
    org.springframework.jdbc.core: TRACE
